<a href="https://colab.research.google.com/github/Sparrow0hawk/DL-notebooks/blob/master/notebooks/kerasLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Keras does Linear Regression

Working from this [example](https://machinelearningmastery.com/regression-tutorial-keras-deep-learning-library-python/) to begin with.

In [1]:
# get the dataset
! curl -LO https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 49081  100 49081    0     0   229k      0 --:--:-- --:--:-- --:--:--  229k

In [2]:
! ls

housing.data  sample_data

In [6]:
# load the data
import pandas as pd

boston = pd.read_csv('housing.data', delim_whitespace=True, header=None)

In [8]:
boston.head()

        0     1     2   3      4      5   ...  8      9     10      11    12    13
0  0.00632  18.0  2.31   0  0.538  6.575  ...   1  296.0  15.3  396.90  4.98  24.0
1  0.02731   0.0  7.07   0  0.469  6.421  ...   2  242.0  17.8  396.90  9.14  21.6
2  0.02729   0.0  7.07   0  0.469  7.185  ...   2  242.0  17.8  392.83  4.03  34.7
3  0.03237   0.0  2.18   0  0.458  6.998  ...   3  222.0  18.7  394.63  2.94  33.4
4  0.06905   0.0  2.18   0  0.458  7.147  ...   3  222.0  18.7  396.90  5.33  36.2

[5 rows x 14 columns]

In [7]:
# convert dataset to numpy array of values

boston_values = boston.values

In [ ]:
# split the data into predictor and target variables

# all columns except 14th
X = boston_values[:,0:13]

# 14th col is target variable
Y = boston_values[:,13]